
.projectDetail {
    display: grid;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
    height: 100%;

    background-color: #e0e0e0;
    box-shadow: 5px 5px 5px 2px #8d8d8d;
    
    color: black;
    overflow-wrap: break-word;
}

.markdown {
    display: -ms-inline-grid;

    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 15px;
}